{
  email {$ACME_EMAIL}
}

{$DOMAIN} {
  encode zstd gzip

  @settings path /preferences* /stats* /config*
  handle @settings {
    basicauth * {
      {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }
    reverse_proxy searxng:8080
  }

  handle {
    reverse_proxy searxng:8080
  }
}